// COLORS
$color-primary: #E83F00;
$color-secondary: #0A4068;
$color-secondary-light: #B0EEFC;
$color-secondary-med: #009DC1;
$color-secondary-hl: #45C8E6;
$color-secondary-link: #006b83;
$color-green: #7CC1A4;
$color-red: #F7484E;
$color-grey: #4E5860;
$color-grey-light: #E4E4E4;
$color-grey-med: #A6ABAF;
$color-grey-dark: #26313B;

$color-white: #fff;
$color-white-off: #F9F9F9;
$color-black: #151D25;

// FONT
$default-font: Montserrat', 'helvetica', sans-serif"
$default-h-font: "Monterrat-Light", serif;
$default-font-size: 2.4rem;
$color-body-copy: #4A4A4A;
$color-light-copy: #9B9B9B;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 2rem;
