@charset "UTF-8";
/*
   0 - 600px:  Phone
 600 - 900px:  Tablet Portrait
900 - 1200px:  Tablet Landscape
1200 - 1800 =  Base styles
     1800px+:  Large Desktop


$breakpoint(s)
- Phone
- tab-port
- tab-land
- desktop-lg
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 44%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

h4, h5 {
  font-family: "Mainsail", serif;
  font-size: 3rem;
  font-weight: normal;
  color: #0A4068; }

h4 {
  font-size: 3.6rem;
  margin-bottom: -1rem; }

hr.gradiated {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 157, 193, 0), rgba(0, 157, 193, 0.75), rgba(0, 157, 193, 0)); }

::selection {
  background-color: #B0EEFC;
  color: #fff; }

cite {
  font-style: normal;
  font-size: 2rem; }

body {
  font-family: 'Montserrat', 'helvetica', sans-serif;
  line-height: 1.7;
  color: #4E5860;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }
  body p {
    font-size: 2.4rem; }
    body p:not(:last-child) {
      margin-bottom: 3rem; }
    body p a {
      font-size: 2.4rem;
      color: #006b83;
      text-decoration: none; }
      body p a:hover {
        color: #0A4068; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-family: 'Mainsail', 'helvetica', sans-serif;
    font-size: 3.4rem;
    font-weight: normal;
    line-height: 3rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 100;
    margin-left: 0.6rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-family: 'Montserrat', 'helvetica', sans-serif;
  font-size: 7.2rem;
  font-weight: 100;
  line-height: 8.6rem;
  margin-bottom: 2rem;
  color: #0A4068;
  background-image: linear-gradient(to right bottom, #009DC1, #0A4068);
  -webkit-background-clip: text;
  color: transparent; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 7.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 6rem;
      line-height: 8rem;
      margin-bottom: 4rem; } }

.font-color-white {
  color: #fff; }

.list {
  padding-bottom: 3rem;
  margin-left: 4rem; }
  .list ul {
    list-style-type: none; }
    .list ul li {
      margin-left: 2.5rem;
      list-style-type: square; }
    .list ul li li {
      list-style-type: none; }
      .list ul li li::before {
        content: "⦿ ";
        color: #0A4068;
        display: inline-block;
        width: 3rem;
        margin-left: -2rem; }
    .list ul ul li li {
      margin-left: 3.25rem;
      list-style-type: circle; }
      .list ul ul li li::before {
        content: ""; }

.u-center-text {
  text-align: center !important; }

.u-right-text {
  text-align: right !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-text-white {
  color: #fff; }

.u-image-left {
  float: left;
  margin-right: 2rem;
  padding: 9px;
  border: 1px solid #E4E4E4; }

.u-image-right {
  float: right;
  margin-left: 2rem;
  padding: 9px;
  border: 1px solid #E4E4E4; }

.intro__shape {
  width: 30rem;
  height: 30rem;
  float: right;
  transform: translateX(3rem);
  overflow: hidden;
  border-radius: 50%; }
  @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
    .intro__shape {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none; } }
  @media (max-width: 75em) {
    .intro__shape {
      width: 20rem;
      height: 20rem;
      margin-right: 4rem; } }
  @media (max-width: 37.5em) {
    .intro__shape {
      height: 40rem;
      width: 40rem;
      float: none;
      margin: 2rem; } }

.intro__img {
  width: 100%; }

.navigation {
  height: 6rem;
  padding-right: 2rem;
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #0A4068;
  opacity: .86;
  z-index: 6000;
  display: flex; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    width: 5rem;
    height: 5rem;
    display: none;
    cursor: pointer;
    z-index: 2000;
    background-color: transparent;
    border-radius: 50%;
    margin-top: .4rem; }
  .navigation__background {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: -6rem;
    right: -6rem;
    background-color: #0A4068;
    z-index: 1000;
    transition: transform 0.5s cubic-bezier(0.05, 0.48, 0.49, 1.01); }
  .navigation__logo img {
    height: 60px; }
    @media (max-width: 75em) {
      .navigation__logo img {
        height: 52px; } }
    @media (max-width: 56.25em) {
      .navigation__logo img {
        height: 46px; } }
    @media (max-width: 37.5em) {
      .navigation__logo img {
        height: 40px; } }
  .navigation__list {
    display: flex;
    margin-left: auto; }
  .navigation__link:link, .navigation__link:visited {
    font-family: 'Montserrat', 'helvetica', sans-serif;
    font-size: 2.2rem;
    font-weight: 300;
    list-style: none;
    padding: 1.2rem 2rem;
    color: #fff;
    text-decoration: none;
    transition: transform 0.2s cubic-bezier(0.61, -0.84, 0.54, 0.91); }
  .navigation__link:hover, .navigation__link:active {
    transform: scale(1.2); }
  .navigation__item {
    display: flex; }
    .navigation__item:not(:last-child) {
      margin-right: .4rem; }
  .navigation__skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }
  .navigation__icon {
    text-align: center;
    position: relative;
    margin-top: 2.4rem;
    margin-left: 1rem; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  @media (max-width: 56.25em) {
    .navigation .navigation__list,
    .navigation .navigation {
      flex-direction: column; }
    .navigation .navigation__list {
      position: fixed;
      height: 100vh;
      top: 65%;
      left: 0;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1500;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.61, -0.84, 0.54, 0.91); }
    .navigation .navigation__button {
      display: flex; }
    .navigation .navigation__link {
      margin-left: auto; }
      .navigation .navigation__link:link, .navigation .navigation__link:visited {
        font-size: 4rem; }
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(72); }
    .navigation__checkbox:checked ~ .navigation__list {
      display: flex;
      top: 65%;
      left: 50%;
      opacity: 1; } }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #26313B;
  transition: all 3.6s; }

.sticky + .navigation {
  padding: 1rem; }

.alert-box {
  padding: 20rem; }
  @media (max-width: 75em) {
    .alert-box {
      padding: 10rem;
      margin-top: 10rem; } }
  @media (max-width: 37.5em) {
    .alert-box {
      padding: 2rem;
      margin-top: 2rem; } }

.footer {
  height: 42rem;
  background-color: #0A4068;
  background-size: cover;
  border-top: 1px solid #fff;
  background-position: top;
  position: relative;
  font-size: 1.6rem; }
  .footer__logo-box {
    text-align: center;
    margin: 6rem 0; }
    @media (max-width: 56.25em) {
      .footer__logo-box {
        margin: 4rem 0; } }
  .footer__logo {
    width: 30rem;
    height: auto; }
  .footer__navigation {
    padding-top: 0.2rem;
    padding-left: 1.2rem;
    display: inline-block;
    backface-visibility: hidden; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 2rem; }
  .footer__link:link, .footer__link:visited {
    color: #F9F9F9;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #fff;
    font-weight: bold;
    transform: scale(1.2); }
  .footer__social {
    text-align: right;
    padding: 0.4rem 0 2rem 0; }
    @media (max-width: 56.25em) {
      .footer__social {
        text-align: center;
        padding: 0; } }
  .footer__social--link {
    height: 24px;
    width: auto;
    padding-right: 1.8rem; }
    .footer__social--link:not(:last-child) {
      padding-right: .4rem; }
    .footer__social--link img {
      transform: scale(0.8);
      transition: all .3s; }
      .footer__social--link img:hover, .footer__social--link img:active {
        transform: scale(1); }
  .footer__copyright {
    color: rgba(228, 228, 228, 0.4);
    font-size: 1.4rem;
    text-align: center;
    padding-top: 0.8rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 64rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
    @media (max-width: 56.25em) {
      .row .col-1-of-4 {
        width: 50% !important; } }
    @media (max-width: 37.5em) {
      .row .col-1-of-4 {
        width: 100% !important; } }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.grid {
  max-width: 114rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%; }
  .grid img {
    width: 96%;
    height: auto; }
  .grid-item {
    box-sizing: border-box; }
  @media (max-width: 75em) {
    .grid {
      width: 96% !important;
      grid-template-columns: 50% 50%; } }
  @media (max-width: 37.5em) {
    .grid {
      width: 90% !important;
      grid-template-columns: 100%; } }

.header {
  height: 52rem;
  background-blend-mode: hard-light;
  background-image: linear-gradient(-5deg, rgba(143, 21, 0, 0.35), rgba(50, 65, 81, 0.58)), url(../img/header-img.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 20px;
    left: 40px; }

.logo-box {
  position: absolute;
  top: 120px;
  left: 40px; }
  @media (max-width: 56.25em) {
    .logo-box {
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0); } }

.logo {
  height: 160px; }
  @media (max-width: 56.25em) {
    .logo {
      height: 140px; } }

.section-intro {
  padding: 6rem 0; }

.article-intro {
  padding: 6rem 0; }
  .article-intro p:first-of-type {
    font-size: 2.5rem; }
    .article-intro p:first-of-type:not(:last-child) {
      margin-bottom: 3rem; }
