
<footer class="footer">
  <div class="footer__logo-box">
    <img src="/img/logo-white-1x.png" alt="{{ site.Title }}" class="footer__logo">
  </div>
  <div class="row" role="menubar">
    <div class="col-1-of-2">
      <nav class="footer__navigation" aria-label="secondary">
        {{ $currentPage := . }}
        <ul class="footer__list">
          {{ range .Site.Menus.footer }}
          <li class="footer__item"><a href="{{ .URL }}" role="menuitem" class="footer__link">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div>
    <div class="col-1-of-2">
      <nav class="footer__social" aria-label="social">
        <ul class="footer__list">
          {{ range $key, $value := .Site.Data.social }}
          <li class="footer__item"><a href="{{ $key }}.com/{{ $value }}" role="menuitem" target="_blank" class="footer__social--link"><img srcset="/img/icon-{{ $key }}-1x.png 1x, /img/icon-{{ $key }}-2x.png 2x" alt="{{ $key }}" src="/img/icon-{{ $key }}-1x.png"></a></li>
          {{ end }}
        </ul>
      </nav>


    </div>

  </div>
  <div class="row">
    <p class="footer__copyright">
      All content &copy;copyright {{ now.Year }} {{ site.Copyright }}. All rights reserved.
    </p>
  </div>
</footer>
