
{{ define "main"}}
    <main>

      <section class="section-about">
        <div class="row u-margin-bottom-small">
          <h1 class="heading-secondary">404 Page Not Found</h1>
          <p class="text-big">Oops! We don't seem to have the page your looking for&hellip;</p>
          <h4 class="heading-4">&nbsp;</h4>
          <h4 class="heading-4">&nbsp;</h4>
          <p class="text-big">&lArr; <a href="{{ "/" | relURL }}"><strong>Return to site</strong></a></p>
        </div>
      </section>

    </main>
{{ end }}
